* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://i.pinimg.com/564x/39/af/01/39af0128309c2bab6e6452257e7823d3.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul {
    float: right;
    margin-top: 35px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: rgb(194, 26, 26);
    padding: 5px 20px;
    border: 2px solid rgb(212, 34, 34);
    border-radius: 20px;
    transition: 0.6s;
    margin: 10px;
    font-size: 12px;
    font-weight: bold;
}

ul li a:hover {
    background-color: rgb(40, 41, 43);
    color: aqua;
}

ul li.active a {
    background-color: rgb(230, 238, 225);
    color: rgb(87, 142, 151);
}

.logo img {
    width: 40%;
    height: auto;
    margin-top: 10px;
    cursor: pointer;
}

.navbar {
    max-width: 1200px;
    margin: auto;
}

.contents {
    position: absolute;
    top: 35%;
    left: 30%;
}

.contents h1 {
    color: #fff;
    font-size: 70px;
    text-shadow: -2px 2px 4px #000;
}

.color {
    color: yellow;
}

.contents p {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-right: 400px;
}

.buttom {
    position: absolute;
    top: 50%;
    left: 36%;
    margin-top: 60px;
    font-weight: bold;
}

.btn {
    border: 2px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
    border-radius: 20px;
    margin: 10px;
    background-color: red;
    margin-left: 120px;
}

.btn:hover {
    background-color: blue;
    color: wheat;
}

header .navbar.logo {
    width: 100%;
}